.most-selling {
  position: relative;
  top: 150px;
  min-height: 15vh;
  width: 100%;
  min-width: 100%;
  :hover, :active {
    cursor: grab;
  }
  :active {
    cursor: grabbing;
  }
  .title {
    font-weight: bold;
    color: black;
    font-size: 18px;
  }
  .most-cards {
    scroll-behavior: calc(0.2s * 1000);
    overflow-x: hidden;
    white-space: nowrap;
    text-align: left;
    padding: 10px;
    .most-card {
      display: inline-block;
      padding: 15px;
      .row {
        margin: 0;
        margin-top: 5px;
        p {
          font-weight: bold;
          text-align: left;
        }
      }
      hr {
        width: 75%;
        margin-bottom: 5px;
      }
      p {
        margin-bottom: 0;
        font-size: 12px;
      }
      a {
        color: #17a2b8;
        text-decoration: none;
      }
      img {
        user-select: none;
        // drag none
        -moz-user-select: none;
        -webkit-user-drag: none;
        width: 500px;
        border-radius: 5px;
        transition: scale 0.2s;
      }
      .product-color {
        position: relative;
        top: 5px;
        width: 10px;
        height: 10px;
        border-radius: 50%;
      }
      .product-name {
        color: #292c2f;
        text-align: left; /* Alineación a la izquierda */
        font-size: 16px; /* Aumentar el tamaño de fuente */
        font-weight: bold; /* Opcional: resaltar el nombre */
      }
      .product-price {
        color: #292c2f;
        text-align: left; /* Alineación a la izquierda */
        font-size: 14px; /* Aumentar el tamaño de fuente */
      }
    }

    .most-card img:hover {
      scale: 1.01;
      transition: scale 0.2s;
    }
  }

  .scroll-left {
    margin-left: 10px;
    background-image: url("../../../assets/left.svg");
    cursor: pointer;
    z-index: 9999;
    position: absolute;
    top: 40%;
    display: inline-block;
    width: 40px;
    height: 40px;
    font-size: 34px;

  }

  .scroll-left:hover {
    transform: scale(1.1);
    transition: transform 0.2s;
  }

  .scroll-right {
    margin-right: 10px;
    background-image: url("../../../assets/right.svg");
    cursor: pointer;
    z-index: 9999;
    position: absolute;
    top: 40%;
    right: 0;
    display: inline-block;
    width: 40px;
    height: 40px;
    font-size: 34px;
  }

  .scroll-right:hover {
    transform: scale(1.1);
    transition: transform 0.2s;
  }

  p {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
}
