<div class="modal-header">
  <h4 class="modal-title">Términos de Servicio/h4>
</div>
<div class="modal-body">
  <p>Bienvenido/a a 77Z, un sitio web que ofrece ropa de distintas marcas, con especial enfoque en productos de Sharingan.uy. Antes de utilizar nuestros servicios, lea detenidamente los siguientes Términos de Servicio, ya que regulan el uso de nuestro sitio y cualquier transacción que realice en él.

    Aceptación de los Términos de Servicio
    Al acceder o utilizar el sitio web 77Z, usted acepta los presentes Términos de Servicio en su totalidad. Si no está de acuerdo con alguno de los términos establecidos, le recomendamos que no utilice nuestros servicios.
    
    Uso del Sitio
    2.1. Uso Autorizado: 77Z ofrece sus servicios únicamente para usuarios que sean mayores de edad y estén legalmente capacitados para celebrar contratos vinculantes. No está permitido el acceso o uso del sitio a menores de edad o a personas que no puedan cumplir con los presentes términos.
    
    2.2. Contenido del Sitio: Todo el contenido presente en 77Z, incluyendo pero no limitado a imágenes, descripciones de productos, marcas y logotipos, está protegido por derechos de autor y propiedad intelectual. No está permitida la reproducción, distribución o modificación del contenido sin autorización previa y por escrito.
    
    Productos y Transacciones
    3.1. Disponibilidad: La disponibilidad de los productos está sujeta a cambios sin previo aviso. Hacemos todos los esfuerzos razonables para mantener nuestro inventario actualizado, pero no podemos garantizar la disponibilidad de un producto en particular.
    
    3.2. Precios: Los precios de los productos están expresados en moneda local y están sujetos a cambios. Nos reservamos el derecho de modificar los precios en cualquier momento. Los precios finales incluirán los impuestos y gastos de envío aplicables.
    
    3.3. Compras y Pagos: Al realizar una compra en 77Z, usted se compromete a proporcionar información precisa y completa. Los pagos deben realizarse mediante los métodos de pago aceptados en el sitio web. Nos reservamos el derecho de cancelar cualquier orden si se sospecha de actividad fraudulenta o incumplimiento de los términos.
    
    Envíos y Entregas
    4.1. Zonas de Envío: Realizamos envíos a todo Uruguay. Los plazos de entrega pueden variar según la ubicación y la disponibilidad del producto.
    
    4.2. Costos de Envío: Los gastos de envío se calcularán en función de la dirección de entrega y el peso del paquete. Estos costos se detallarán antes de finalizar la compra.
    
    4.3. Responsabilidad del Cliente: Es responsabilidad del cliente proporcionar una dirección de entrega precisa y asegurarse de estar disponible para recibir el paquete en el momento de la entrega.
    
    Política de Devoluciones
    5.1. Devoluciones: Aceptamos devoluciones de productos dentro de los [número de días] días siguientes a la entrega, siempre que los productos estén en su estado original y no hayan sido utilizados. Los gastos de envío de la devolución corren por cuenta del cliente, a menos que el producto presente defectos de fabricación.
    
    Limitación de Responsabilidad
    6.1. 77Z no se responsabiliza por daños directos, indirectos, incidentales, consecuentes o especiales, pérdida de beneficios o daños a la reputación relacionados con el uso o la incapacidad de utilizar nuestro sitio web o nuestros servicios.
    
    Modificaciones de los Términos de Servicio
    7.1. Nos reservamos el derecho de modificar estos Términos de Servicio en cualquier momento. Cualquier modificación será efectiva a partir de la fecha de publicación en el sitio web. Se recomienda revisar periódicamente los términos para estar al tanto de posibles cambios.
    
    Al utilizar 77Z, usted acepta cumplir con estos Términos de Servicio. Si tiene alguna pregunta o inquietud, no dude en ponerse en contacto con nuestro equipo de atención al cliente. Gracias por elegirnos como su opción para adquirir productos de moda.
    
    ¡Gracias por elegirnos como su opción para adquirir productos de moda en 77Z!</p>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-info" (click)="close()">Cerrar</button>
</div>
