<footer class="footer-distributed">

  <div class="footer-left">

    <h3>77Z<span> demo </span></h3>

    <p class="footer-links">
      <a routerLink="/">Home</a>

      <a routerLink="/browse">Productos</a>

      <a routerLink="/faq">FAQ</a>
    </p>

  </div>

  <div class="footer-center">

    <div class="footer-icons">
      <a href="https://www.facebook.com/sharingan.uy" rel="noopener noreferrer" target="_blank"><i
        class="fa fa-facebook"></i></a>
      <a href="https://www.instagram.com/sharingan.uy/" rel="noopener noreferrer" target="_blank"><i
          class="fa fa-instagram"></i></a>      
      <a href="https://wa.link/q9qh27" rel="noopener noreferrer" target="_blank"><i class="fa fa-whatsapp"></i></a>

    </div>

  </div>

  <div class="footer-right">

    <p class="footer-company-about">
      <span>Sobre 77Z</span>
      77Z es un sitio web de comercio electrónico que se especializa en ofrecer 
      ropa de distintas marcas, con un enfoque particular en productos de Sharingan.uy.
       El sitio cuenta con una variedad de productos de moda disponibles para su compra,
        y ofrece envíos a todo Uruguay. 
    </p>   

  </div>

</footer>
