.newly-added {
  position: relative;
  margin-top: 200px;
  min-height: 15vh;
  max-width: 100%;
  width: 100%;
  .title {
    font-weight: bold;
    color: black;
    font-size: 18px;
  }
  .new-cards {
    white-space: nowrap;
    text-align: center;
    padding: 10px;
    .new-card {
      display: inline-block;
      padding: 15px;
      width: calc(100% / 4);
      .row {
        margin-top: 5px;
        p {
          font-weight: bold;
        }
      }
      hr {
        width: 75%;
        margin-bottom: 5px;
      }
      .product-details {
        text-align: left; /* Alinear el texto a la izquierda */
        padding-left: 10px; /* Agregar un espacio entre la imagen y los detalles */
      }
      p {
        margin-bottom: 0;
        font-size: 12px;
      }
      a {
        color: #17a2b8;
        text-decoration: none;
      }
      img {
        width: 100%;
        height: auto;
        border-radius: 10px;
        transition: 0.3s;
      }
      .product-color {
        position: relative;
        top: 5px;
        width: 10px;
        height: 10px;
        border-radius: 50%;
      }
      .product-name {
        color: #292c2f;
      }
      .product-price {
        color: #000000;
      }
    }
    .new-card:hover {
      img {
        transform: scale(1.1);
        transition: 0.3s;
      }
    }
  }
  p {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
}
