<div class="email-verification container">
  <div class="row">
    <div class="col-md-12 col-12 text-center">
      <span class="fa {{isError ? 'fa-exclamation-triangle' : 'fa-check'}}"></span>
    </div>
  </div>
  <div *ngIf="isVerified && !isError" class="row">
    <div class="col-md-12 col-12">
      <p>Tu cuenta ha sido verificada con éxito. ¡Comienza a comprar ahora!</p>
      <div *ngIf="!isLoggedIn">Por favor <a routerLink="/login">ingresa.</a></div>
      <a class="btn home" routerLink="/">Inicio</a>
      <a class="btn products" routerLink="/account/browse">Productos</a>
    </div>
  </div>

  <div *ngIf="!isVerified && !isError" class="row">
    <p>Enviando solicitud...</p>
  </div>

  <div *ngIf="isError" class="row">
    <p>No es posible activar en este momento. Por favor, ponte en contacto con nuestro equipo de soporte.</p>
  </div>
</div>
