<div class="confirmation">

  <div *ngIf="innerLoading" class="loader"></div>

  <div *ngIf="!innerLoading">
    <div class="panel">
      <div class="info row">
        <div class="col-md-12">
          <div class="title row">
            <div class="col-md-10">
              <p>Información de envío</p>
            </div>
            <div class="col-md-2">
              <a class="edit" routerLink="/checkout/personal">
                <p>Editar</p>
              </a>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <p>Nombre y Apellido: <span>{{(orderState | async).personal.shipName}}</span></p>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <p>País: <span>{{(orderState | async).shipping.country}}</span></p>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <p>Ciudad: <span>{{(orderState | async).shipping.city}}</span></p>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <p>Dirección: <span>{{(orderState | async).shipping.shipAddress}}</span></p>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <p>Teléfono: <span>{{(orderState | async).personal.phone}}</span></p>
            </div>
          </div>

          <div class="row" *ngIf="!(orderState | async).shipping.billingAddress">
            <div class="col-md-12">
              <p class="billing">Usar dirección de envío para facturación</p>
            </div>
          </div>

        </div>
      </div>


      <div class="info secondary row" *ngIf="(orderState | async).shipping.billingAddress">
        <div class="col-md-12">
          <div class="title row">
            <div class="col-md-10">
              <p>Información de facturación</p>
            </div>
            <div class="col-md-2">
              <a class="edit" routerLink="/checkout/personal">
                <p>Editar</p>
              </a>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <p>Dirección: <span>{{(orderState | async).shipping.billingAddress}}</span></p>
            </div>
          </div>

        </div>
      </div>

      <div class="info lower row">
        <div class="col-md-12">
          <div class="title row">
            <div class="col-md-10">
              <p>Información de pago</p>
            </div>
            <div class="col-md-2">
              <a class="edit" routerLink="/checkout/payment">
                <p>Editar</p>
              </a>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <p>Número de tarjeta: <span>
                  **********
                  {{(orderState | async).payment.cardNo.toString()
                  .substr((orderState | async).payment.cardNo.toString().length - 4,(orderState | async).payment.cardNo.toString().length)}}
                </span>
              </p>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <p>Titular de la tarjeta: <span>{{(orderState | async).payment.cardOwner}}</span></p>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <p>Fecha de vencimiento:
                <span>{{(orderState | async).payment.cardExp.month}}/{{(orderState | async).payment.cardExp.year}}</span>
              </p>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <p>CCV: <span>{{(orderState | async).payment.cardCCV}}</span></p>
            </div>
          </div>

        </div>
      </div>

    </div>

  </div>
</div>
