<div class="container faq">
  <div class="title">
    <p>FAQ</p>
  </div>
  <hr>
  <div class="accordion">
    <ngb-accordion #acc="ngbAccordion" [closeOthers]="false" [destroyOnHide]="true">
      <ngb-panel id="static-1">
        <ng-template ngbPanelTitle>
          <span class="panel-title">Qué es 77Z?</span>
        </ng-template>
        <ng-template ngbPanelContent>
          77Z es un sitio web de comercio electrónico que se especializa
           en ofrecer ropa de distintas marcas, con un enfoque particular 
           en productos de Sharingan.uy. El sitio cuenta con una variedad 
           de productos de moda disponibles para su compra, y ofrece envíos
            a todo Uruguay. Además, cuenta con Términos de Servicio claros 
            que regulan el uso del sitio y las transacciones realizadas en él, 
            proporcionando a los usuarios una experiencia de compra segura y conveniente.
        </ng-template>
      </ngb-panel>
      <ngb-panel id="static-2">
        <ng-template ngbPanelTitle>
          <span class="panel-title w-100">Como puedo contactarme?</span>
        </ng-template>
        <ng-template ngbPanelContent>
          Nos puedes encontrar en Redes Sociales como Sharingan.uy o también en nuestro Whatsapp +598 99 444 693
        </ng-template>
      </ngb-panel>
    </ngb-accordion>
  </div>
</div>
